@charset "UTF-8";

/* line */
.line {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 360px;
    height: 1px;
    background-color: #ffffff;
}
.line-top {
    margin-top: 4em;
    margin-bottom: 2em;
}

.line-bottom {
    margin-top: 1em;
    margin-bottom: 2em;
}
/* --- */

/* Base */
#beneficios {
    background: url('../_img/bg-beneficios.svg') no-repeat;
    background-position: 750px 150px;
    background-size: 30%;
}

#beneficios h1 {
    text-align: center;
    font-size: 22pt;
    margin-bottom: 1rem;
}
#beneficios h2 {
    font-size: 14pt;
    text-align: center;
}

#beneficios figure img {
    width: 10em;
    height: 10em;
}
/* --- */

/* Imagens */
#beneficios .objetivos {
    position: relative;
    display: flex;
    margin: 7em 5em 8em 10em;
    margin-left: 14em;
    text-align: center;
}
#beneficios .objetivos .strength {
    margin-right: 4em;
}

#beneficios .strength {
    display: flex;
    flex-direction: column;
}
#beneficios .strength figcaption {
    order: 2;
    margin-top: 1em;
    font-size: 14pt;
}

#beneficios .health {
    display: flex;
    flex-direction: column;
}
#beneficios .health figcaption {
    order: 2;
    margin-top: 1em;
    font-size: 14pt;
}
/* --- */