@charset "UTF-8";

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000000;
    border-top: 2px solid #36CDFD;
    height: 25em;
}


/* Logo */
footer .logo {
    font-size: 20pt;
    font-weight: bold;
    margin: 2em 2em;
    width: 150px;
}

/* Descrição */
footer .description {
    width: 30%;
    margin: 2em 3em;
}
footer .title-description {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 3px;
}

footer .text-description {
    text-indent: 10px;
}

/* Newsletter */
.newsletter {
    margin: 5em 2em 2em 0em;
    /* position: relative; */
}

.newsletter h2 {
    font-size: 12pt;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.newsletter-box {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    height: 2.3em;
    width: 200px;
    padding-left: 1em;
}
.input-box {
    position: relative;
}
.send-email {
    position: absolute;
    left: 175px;
    top: 8px;
    background-color: transparent;
    border: none;
}
.send-email img {
    height: 1.3em;
    width: 22px;
}
.anuncio-newsletter {
    color:#b4b4b4;
    font-size: 9pt;
    margin-top: 5px;
    margin-left: 16px;
}

/* Redes */
.redes {
    margin-top: 6em;
    display: flex;
}
.redes h2 {
    margin-right: 1em;
    font-size: 14pt;
    align-self: center;
}
.redes img {
    width: 2em;
    height: 2em;
    margin-right: 6px;
}