.field-login {
    display: flex;
    height: 600px;
    margin: 2em 1.5em;
}
/* Decoração lateral */
aside.img-form {
    background-color: #262626;
    width: 40%;
    border: 1px solid #000;
    background: url('../_img/sign.svg') no-repeat 50% 80%;
    box-shadow: 2px 2px 4px #000;
}
aside.img-form h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 22pt;
    text-align: center;
    margin-top: 1.5em;
}

/* Formulario */
main {
    background-color: #fff;
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-top: 1px;
    font-size: 20pt;
}
form label {
    text-transform: uppercase;
    color: #000000;
    margin-top: 1.9em;
    font-weight: 500;
}
form input {
    background-color: transparent;
    border: none;
    margin-top: 1em;
    border-bottom: 1px solid #000;
    width: 60%;
    box-shadow: none;
    font-size: 12pt;
}
form input:focus {
    box-shadow: none;
}
form input:last-child {
    margin-top: 3.5em;
    color: #fff;
    background-color: #000;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 14pt;
}

/* Toogle Form */

.toogle-form {
    display: flex;
    margin-left: 80%;
    margin-top: 1.5em;
    height: 2.5em;
    line-height: 2.25em;
    font-size: 11pt;
}

.toogle-form .first-form {
    width: 55px;
    background-color: #000000;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    padding-left: 8px;
}

.toogle-form .last-form {
    width: 55px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    padding-left: 8px;
}