<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growth Supplements</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- CSSs -->
    <!-- build:css _css/index-min.css -->
    <link rel="stylesheet" href="/_css/reset.css">
    <link rel="stylesheet" href="/_css/global.css">
    <link rel="stylesheet" href="/_css/nav.css">
    <link rel="stylesheet" href="/_css/sign.css">
    <link rel="stylesheet" href="/_css/sign-in.css">
    <link rel="stylesheet" href="/_css/footer.css">
    <!-- endbuild -->
</head>
<body>

        <header>
                <nav class="overnav">
                    <ul>
                        <div class="search-bar">
                            <input type="text" class="search-box">
                            <button class="search-lupa"><img src="/_img/lupa.svg"></button>
                        </div>
                        <li><a href="/sign-up">Cadastrar-se</a></li>
                        <li><a href="/sign-in">Login</a></li>
                    </ul>
                </nav>
                <nav class="subnav">
                    <h1 class="logo"><a href="/">Growth.</a></h1>
                    <ul>
                        
                        <li class="dropdown-buttom">
                            Top 8
                            <ul class="dropdown dropdown-1">
                                <li class="dropdown-item"><a href="/produto/1">1. Gold Standard</a></li>
                                <li class="dropdown-item"><a href="/produto/2">2. Whey Reflex</a></li>
                                <li class="dropdown-item"><a href="/produto/3">3. Elite Whey Protein</a></li>
                                <li class="dropdown-item"><a href="/produto/4">4. Opti-Men 100/c</a></li>
                                <li class="dropdown-item"><a href="/produto/5"">5. BCAA ON</a></li>
                                <li class="dropdown-item"><a href="/produto/6">6. BCAA Complex</a></li>
                                <li class="dropdown-item"><a href="/produto/7">7. Alpha Amino BCAAs</a></li>
                                <li class="dropdown-item"><a href="/produto/8">8. Oléo de Peixe - ON</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown-buttom">
                            Categorias
                            <ul class="dropdown dropdown-2">
                                <li class="dropdown-item"><a href="#">Whey</a></li>
                                <li class="dropdown-item"><a href="#">BCCAs</a></li>
                                <li class="dropdown-item"><a href="#">Vitaminas</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </nav>
            </header>

    <div id="main">

        <section class="field-login">
            <aside class="img-form">
                <h1>Cadastrar-se</h1>
            </aside>

            <main>

                <div class="toogle-form">
                    <a class="first-form" href="/sign-up">Sign up</a>
                    <a class="last-form" href="/sign-in">Sign in</a>
                </div>

                <form action="POST">
                        
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Entre com o seu email" required>
                
                <label for="senha">senha</label>
                <input type="password" name="senha" id="senha" placeholder="Entre com sua senha" required>

                <input type="submit" value="Login">
                                

                </form>
            </main>

        </section>


        <footer>
            <h1 class="logo">Growth.</h1>
            
            <div class="description">
                <h2 class="title-description">Sobre nós</h2>
                <p class="text-description">Est consectetur sapiente sed dignissimos. Repellat suscipit fugiat blanditiis quod iure culpa. Quos iste tenetur quis at officiis cum sunt maiores excepturi. Soluta autem sed molestiae voluptas quaerat non dolorum libero</p>
            </div>
            <div class="newsletter">
                <h2>Newsletter</h2>
                <div class="input-box">
                    <input type="text" class="newsletter-box">
                    <button class="send-email"><img src="/_img/arrow-rigth.svg"></button>
                </div>
                <p class="anuncio-newsletter">Inscreva-se em nossa newsletter</p>
            </div>
            <div class="redes">
                <h2>Redes:</h2>
                <a href="https://www.facebook.com" target="_blank"><img src="/_img/redes/facebook.svg" alt="Icone facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="/_img/redes/instagram.svg" alt="Icone instagram"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="/_img/redes/twitter.svg" alt="Icone twitter"></a>

            </div>
        </footer>

    </div>

</body>
</html>